.progressBar {
  width: 100%;
  height: 0.5rem;
  background-color: rgb(229, 231, 235);
  border-radius: 9999px;
  overflow: hidden;
}

.progressBar.dark {
  background-color: rgb(55, 65, 81);
}

.progressFill {
  height: 100%;
  background: linear-gradient(to right, rgb(74, 222, 128), rgb(59, 130, 246));
  transition: width 300ms ease-in-out;
}
